apiVersion: v1
kind: Secret
metadata:
  name: vra-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://vra.demo.lab",
      "access_token": "dsfsdfsdfsdf.....",
      "insecure": "true"
    }
